@{
    ViewBag.Title = "Trocar Senha";
}

<style>
    #btnGravar, #btnCancelar {
        margin-top: 15px;
    }
    .container-fluid {
        padding-top: 15px;
        padding-bottom:15px;
    }
    label{
        padding-top: 10px;
    }
    input:hover{
        background-color: #F8F8F8;
    }
</style>
<div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-users"></i>&nbsp;@ViewBag.Title</h4>
</div>

@using (Html.BeginForm("TrocarSenha", "Home", FormMethod.Post, new { @class = "" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <label>Senha atual</label>
                <input type="password" id="txt_senhatual" name="txt_senhatual" class="form-control" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Nova senha</label>
                <input type="password" id="txt_novasenha" name="txt_novasenha" class="form-control" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Confirma senha</label>
                <input type="password" id="txt_confsenha" name="txt_confsenha" class="form-control" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" id="btnGravar" class="btn btn-success"><i class="fa fa-check"></i>&nbsp; Confirmar</button>
                <a href="/Login" id="btnCancelar" class="btn btn-warning">Cancelar</a>
            </div>
        </div>
        
   </div>
}

<script>
    $().ready(function () {
        $("#txt_senhatual").focus();
        $("#btnGravar").click(function () {
            if ($("#txt_novasenha").val() != $("#txt_confsenha").val()) {
                exibirmsgatencao('Atenção, Nova senha e Confirma senha estão diferentes, tente novamente...');
                return false;
            }
        });

    });
</script>
