@{
    ViewBag.Title = "Imagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-heading">
    <h4 class="panel-title">Imagens</h4>
</div>

<div class="container-fluid">
    <br />
    <div class="row">

        <!-- 1 - Efetuar Captura -->
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Efetuar Captura</h4>
                </div>
                <div class="">
                    <div class="img-botao-principal">
                        <a href="#" aria-label="Efetuar Captura" title="Efetuar Captura de Imagens">
                            <img src="~/Assets/image/icon/core-icon/btn-captura-180x180.png" alt="Captura de Imagens" class="img-responsive center-block" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 - Upload Imagens-->
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Efetuar Upload</h4>
                </div>
                <div class="">
                    <div class="img-botao-principal">
                        <a href="@Url.Action("Upload", new {area = "GED", controller = "Imagem"})" aria-label="Efetuar Upload" class="ls-btn ls-btn-sm" title="Efetuar Upload de Imagens">
                            <img src="~/Assets/image/icon/core-icon/btn-upload-180x180.png" alt="Efetuar Upload" class="img-responsive center-block"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 - Efetuar Inserção-->
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Efetuar Inserção</h4>
                </div>
                <div class="">
                    <div class="img-botao-principal">
                        <a href="#" aria-label="Efetuar Captura" title="Efetuar Inserção de Imagens">
                            <img src="~/Assets/image/icon/core-icon/btn-tipificacao-180x180.png" alt="Inserção de Imagens" class="img-responsive center-block" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div></div>
        </div>

    </div>
</div>
        
