@using MK.Easydoc.Core.Entities
@model IEnumerable<ConsultaDetalhe>

                        <table id="tbl_Detalhe_view" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:left;">Descrição</th>
                                    <th style="text-align:left;">Arquivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in Model)
                                {
                                  <tr>
                                      <td>@itm.Descricao</td>
                                      <td><a href='@Url.Content("~/StoragePrivate/")@itm.PathArquivo' class='ls-btn-primary' target='_blank' style='target-new: tab;target-new: tab;'><span class='glyphicon glyphicon-picture'></span></a>&nbsp;&nbsp;</td>
                                  </tr>
                                }
                            </tbody>
                        </table>
      

<script>
    $().ready(function(){
        $("#tbl_Detalhe_view").DataTable({
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                },
            }
        });
    });
</script>