@{
    ViewBag.Title = "Tipificacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Assets/plugins/iviewer-master/jquery.iviewer.js"></script>
<link href="~/Assets/plugins/iviewer-master/jquery.iviewer.css" rel="stylesheet" />
<script src="~/Assets/js/app-scripts/tipificar.js"></script>
<script src="~/Assets/plugins/pdfSlider/pdfSlider.js"></script>
<link href="~/Assets/plugins/pdfSlider/pdfSlider.css" rel="stylesheet" />

<style>
     .container {
        /*overflow: auto;*/
        /*-webkit-overflow-scrolling: touch;*/
        height: 800px;
    }
    .viewer {
        width: 900px;
        height: 900px;
        margin-left:5px;
        
        /*border: 1px solid black;
        position: relative;*/
    }
    .iviewer_common {
    position:absolute;
    bottom:-35px;
    border: 1px  solid #000;
    height: 28px;
    z-index: 5000;
     margin-left:15px;
    }

     object {
        width: 800px;
        height: 800px;
        /*height: 800px;*/
    }
</style>

<div class="panel-heading">
    <h4 class="panel-title">Tipificação de documentos</h4>
</div>
<input type="hidden" id="qtdlote" value="@ViewBag.QtdLote" />

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "ls-form ls-form-inline row" }))
{
    <input type="hidden" id="hdnIdLote" value="@ViewBag.IdLote" />
    <input type="hidden" id="hdnIdLoteItem" value="@ViewBag.IdLoteItem" />
    <br />
    
    <div class="ls-box ls-board-box">
        <div class="row">
                <div class="col-md-8">
                    <div class="container">

                        <div id="viewer" class="viewer"></div>
                        <!--Para PDF, carrousel é padrão pelo componente-->
                        <div id="carousel" class="col-lg-10">
                            <object data="" id="imgpdf" type="application/pdf" data-caption="PDF"></object>
                            <!--<object data="pdf/original.pdf" type="application/pdf" data-caption="original"></object>-->
                        </div>
                        <div class="" style="margin-left:10px;">
                            <a id="in" href="#" class="ls-ico-zoomin"></a><br>
                            <a id="out" href="#" class="ls-ico-zoomout"></a><br>
                            <a id="fit" href="#" class="ls-ico-screen"></a><br>
                            <a id="orig" href="#" class="ls-ico-spinner"></a><br>
                        </div>

                    </div>
                <!--<div class="col-md-1 ls-no-margin ls-no-padding ls-float-right">-->

            </div>
            
            <div class="col-lg-4">
                <div class="container-fluid">
                    <div class="panel panel-default" style="margin-left:5px; margin-right:5px;">
                        <div class="panel-body">
                            <div class="ls-box action">
                                <label>Código</label>
                                <input type="text" id="codtipodoc" name="codtipodoc" class="form-control" width="20" style="margin-bottom:10px;" />
                                <a id="btn_salvar" class="btn btn-success ls-btn-sm" href="#">Salvar</a>
                                <a id="btn_excluirlote" class="btn btn-warning ls-btn-sm" href="edit.html">Excluir</a>
                                <ul id="listaTipoDoc" class="list-group" style="margin-top:10px;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>

        <div class="ls-modal fade test" id="modal-resultado-tipificacao">
            <div class="ls-modal-box">
                <div class="ls-modal-header">
                    @*<button data-dismiss="modal">&times;</button>*@
                    <h4 class="ls-modal-title">Atenção!</h4>
                </div>
                <div class="ls-modal-body" id="myModalBody">
                    <p style='text-align:center;font-weight:bold;font-size:22px;word-wrap:break-word;'>
                        <span id="texto-resultado"></span>
                    </p>
                </div>
                <div class="ls-modal-footer">
                    <a href="@Url.Action("Tipificar", new { area = "Documento", controller = "Tipificacao" })" aria-label="Tipificar Documentos" class="ls-btn-primary ls-float-right" title="Efetuar Tipificação de documentos">Continuar...</a>
                </div>
            </div>
        </div><!-- /.modal -->
    
    
    
        <!-- /.modal exclusao -->
        <div class="ls-modal fade test" id="modal-Excluir">
            <div class="ls-modal-box">
                <div class="ls-modal-header">
                    <button data-dismiss="modal">&times;</button>
                    <h4 class="ls-modal-title">Atenção: Deseja realmente deletar o  Lote?</h4>
                    <br />
                </div>
                <div class="ls-modal-body" id="myModalBody">

                    <center>
                        <a id="btn_deletarLoteModal" class="ls-btn-primary" href="#">Deletar</a>
                        <button class="ls-btn ls-float-none" style="" data-dismiss="modal">Cancelar</button><br>
                    </center>
                </div>
            </div>
        </div><!-- /.modal -->
        }

<script>
    $(document).ready(function () {
        $('#pnlHeader').slideUp('slow');
        if ($("#qtdlote").val() == 0) {
            $("form").hide();
            exibirmsgatencao('Todos os lotes já foram listados, aguardando novos...');
        } else {
            $("form").show();
        }

        // todo: è removido o style
        $("#viewer img").removeAttr('style');

    });
    
</script>